.app {
    display: flex;
    justify-content: center;
}

.app .container {
    width: 1100px;
}

.app .container .link {
    text-decoration: none;
    color: inherit;
}

.app .container .link:hover {
    color: teal;
}

.app .container .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b9e7e7;
}

.app .container .auth h1 {
    font-size: 20px;
    color: teal;
    margin-bottom: 20px;
}

.app .container .auth form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 200px;
    gap: 20px;
}

.app .container .auth form input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
}

.app .container .auth form button {
    padding: 10px;
    border: none;
    background-color: teal;
    cursor: pointer;
    color: white;
}

.app .container .auth form p {
    font-size: 12px;
    color: red;
    text-align: center;
}

.app .container .auth form span {
    font-size: 12px;
    text-align: center;
}

.app .container .navbar .container {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.app .container .navbar .container .search {
    top: calc(50% - 14px);
    left: 150px;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 250px;
    box-shadow: 0 0 4px rgb(68 68 68 / 30%);
}

.app .container .navbar .container .search .close-input {
    right: 0;
    top: 4px;
    width: 24px;
    cursor: pointer;
    position: absolute;
}

.app .container .navbar .container .search .search-content {
    width: 100%;
}

.app .container .navbar .container .search ul {
    padding: 0;
    font-size: 14px;
    list-style: none;
}

.app .container .navbar .container .search li {
    cursor: pointer;
    padding: 4px;
}

.app .container .navbar .container .search li p {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.app .container .navbar .container .search span {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 16px 0;
    font-size: 14px;
}

.app .container .navbar .container .search input {
    padding: 6px;
    max-width: 100%;
    width: calc(100% - 12px);
    border-radius: 2px;
    border: solid 1px rgb(68 68 68 / 30%);
}

.app .container .navbar .container .logo img {
    width: 120px;
}

.app .container .navbar .container .links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app .container .navbar .container .links h6 {
    font-size: 16px;
    font-weight: 400;
}

.app .container .navbar .container .links h6:hover {
    color: teal;
}

.app .container .navbar .container .links .logout:hover {
    color: teal;
    cursor: pointer;
}

.app .container .navbar .container .links .write {
    background-color: #b9e7e7;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border: 1px solid white;
    cursor: pointer;
}

.app .container .navbar .container .links .write .link {
    margin: 4px;
}

.app .container .navbar .container .links .write:hover {
    color: teal;
    opacity: 0.7;
}

.app .container footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #b9e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.app .container footer img {
    height: 50px;
}

.app .container .home .posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.app .container .home .posts .post {
    display: flex;
    gap: 100px;
}

.app .container .home .posts .post .info-user {
    display: flex;
    align-items: center;
}

.app .container .home .posts .post .info-user img {
    margin: 4px;
    width: 19px;
}

.app .container .home .posts .post .info-user img:first-child {
    margin-left: 16px;
}

.app .container .home .posts .post .info-user img:hover {
    cursor: pointer;
}

.app .container .home .posts .post .info-user span {
    margin-right: 16px;
    font-size: 14px;
}

.app .container .home .posts .post:nth-child(2n + 1) {
    flex-direction: row-reverse;
}

.app .container .home .posts .post .img {
    flex: 2;
    position: relative;
}

.app .container .home .posts .post .img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #b9e7e7;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -1;
}

.app .container .home .posts .post .img img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.app .container .home .posts .post .content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app .container .home .posts .post .content h3 {
    color: #1b1b1b;
    font-weight: 500;
}

.app .container .home .posts .post .content p {
    color: #9b9b9b;
    font-size: 14px;
}

.app .container .home .posts .post .content button {
    width: max-content;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    border: 1px solid teal;
    color: teal;
    margin: 8px 0;
}

.app .container .home .posts .post .content button:hover {
    border: 1px solid white;
    background-color: #b9e7e7;
    color: black;
}

.app .container .single {
    display: flex;
    gap: 50px;
}

.app .container .single .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 70%;
}

.app .container .single .content img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.app .container .single .content .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.app .container .single .content .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.app .container .single .content .user span {
    font-weight: bold;
}

.app .container .single .content .edit {
    display: flex;
    gap: 5px;
}

.app .container .single .content .edit img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.app .container .single .content h1 {
    font-size: 28px;
    color: #333;
}

.app .container .single .content .time {
    color: #686565;
    line-height: 24px;
}

.app .container .single .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.app .container .single .menu .info-user {
    display: flex;
    align-items: center;
}

.app .container .single .menu span {
    font-size: 14px;
}

.app .container .single .menu p {
    margin-left: 16px;
    color: #9b9b9b;
    font-size: 12px;
}

.app .container .single .menu h4 {
    font-size: 16px;
    color: #555;
}

.app .container .single .menu .post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app .container .single .menu .post img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.app .container .single .menu .post h2 {
    color: #555;
}

.app .container .single .menu .post button {
    width: max-content;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
}

.app .container .single .menu .post button:hover {
    border: 1px solid white;
    background-color: #b9e7e7;
    color: black;
}

.app .container .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.app .container .add .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app .container .add .content input {
    padding: 10px;
    border: 1px solid lightgray;
}

.app .container .add .content .editorContainer {
    height: 350px;
    overflow: scroll;
    border: 1px solid lightgray;
}

.app .container .add .content .editorContainer .editor {
    height: calc(100% - 44px);
    border: none;
}

.app .container .add .menu {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app .container .add .menu .item {
    border: 1px solid lightgray;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    color: #555;
}


.app .container .add .menu .item h1 {
    font-size: 20px;
}

.app .container .add .menu .item .file {
    text-decoration: underline;
    cursor: pointer;
}

.app .container .add .menu .item .buttons {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.app .container .add .menu .item .buttons button {
    border-radius: 2px;
}

.app .container .add .menu .item .buttons:hover {
    opacity: 0.8;
}

.app .container .add .menu .item .buttons :first-child {
    cursor: pointer;
    color: teal;
    background-color: white;
    border: 1px solid teal;
    padding: 3px 5px;
}

.app .container .add .menu .item .buttons :last-child {
    cursor: pointer;
    color: white;
    background-color: teal;
    border: 1px solid teal;
    padding: 3px 5px;
}

.app .container .add .menu .item .cat {
    display: flex;
    align-items: center;
    gap: 2px;
    color: teal;
}

.img-container {
    max-width: 200px;
}

.active h6 {
    color: teal;
}